body {
    margin: 0;
    transition: background-color 200ms ease-in-out;
}

.square-container {
    position: relative;
    width: 100%;
}

.square-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cells {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-cell {
    border-radius: 30%;
    transition: background-color 0.2s ease-in-out,
                width 0.2s,
                height 0.2s;
}

.button {
    height: 40px;
    padding: 0 16px;
    margin: 0;
    border: none;
    color: white;
    background-color: rgba(94, 98, 110, 0.685);
    font-size: 20px;
    transition: background-color 300ms ease-in-out,
                visibility 300ms ease-in-out;
}

.button:active {
    filter:brightness(65%);
}

.button:first-child {
    border-top-left-radius: 8px;
}

.button:last-child {
    border-top-right-radius: 8px;
}

.play-button {
    background-color: rgba(54, 179, 126, 0.8)
}

.control-panel {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 240px;
}

.orange-cell {
    background-color: rgba(255, 171, 0, 0.8);
}

.green-cell {
    background-color: rgba(54, 179, 126, 0.8);
}

.blue-cell {
    background-color: rgba(0, 184, 217, 0.8);
}

.purple-cell {
    background-color: rgba(101, 84, 192, 0.8);
}

.light-grey-cell {
    background-color: rgb(244, 245, 247);
}

.dark-grey-cell {
    background-color: rgba(30, 30, 30, 0.77);
}

.import-field {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    resize: none;
    padding: 8px;
    height: 24px;
    width: 250px;
    font-size: 16px;
}
