body {
    margin: 0;
}

/* Container */

.square-container {
    position: relative;
    width: 100%;
}

.square-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Cells */

.cells-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-content {
    width: 70%;
    height: 70%;
    border-radius: 30%;
    transition: background-color 0.2s ease-in-out,
                width 0.2s,
                height 0.2s;
}

/* Button */

.button {
    width: 100px;
    height: 40px;
    margin: 5px;
    border: 0px none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(179, 186, 197, 0.6);
    font-size: 20px;
    transition: background-color 200 0 ease-in-out,
                visibility 200 ease-in-out;
}

.green-button {
    background-color: rgba(54, 179, 126, 0.8)
}

/* Overlay */

.control-panel {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-height: 240px;
}

.orange-background {
    background-color: rgba(255, 171, 0, 0.8);
}

.green-background {
    background-color: rgba(54, 179, 126, 0.8);
}

.blue-background {
    background-color: rgba(0, 184, 217, 0.8);
}

.purple-background {
    background-color: rgba(101, 84, 192, 0.8);
}

.light-grey-background {
    background-color: rgb(244, 245, 247);
}

.dark-grey-background {
    background-color: rgba(30, 30, 30, 0.77);
}

/* Import field */

.import-field {
    border-radius: 4px;
    resize: none;
}

/* Utils */

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
